.conteudo{
   height: 100vh;  
}

.carrousel{
   display: flex;
   padding: 0;
   margin: 0;
   overflow: hidden;   
   width: 100%;
   height: 100%;
}

.imgContainer{
   min-width: 100%;   
   overflow: hidden;
   padding: 0;  
   transition: .4s    
}

   .imgContainer img{     
      height: 100%;
      width: 100%; 
      object-fit: cover;
      object-position: 10% 10%;
   }

.indicador{
   position: absolute;
   bottom: 0;
   right: 10px;
}

/*  estilização da progress bar */

progress {
   border: 0;
   height: 5px;
   width: 30px;
   border-radius: 10px;
}

progress::-webkit-progress-bar {
   border: 0;
   height: 5px;
   width: 30px;
   border-radius: 10px;
   background: rgba(255, 255, 255, .4);
   
}

progress::-webkit-progress-value {
   border: 0;
   height: 5px;
   width: 30px;
   border-radius: 10px;
   
}
progress::-moz-progress-bar {
   border: 0;
   height: 5px;
   width: 30px;
   border-radius: 10px;   
}

progress[value]::-webkit-progress-value {
   background:white;
   border-radius: 2px; 
   background-size: 35px 20px, 100% 100%, 100% 100%;
 }