<!-- <div class="meu" (pointermove)="testando($event)" (pointerdown)="testando2($event )" #meu>
   aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
   <br>
</div> -->

<app-carrousel></app-carrousel>